<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/67f8a87a-a983-4326-88a8-cdbd2c37d806/resourcegroups/Eric_Europe/providers/Microsoft.Web/sites/shopassisst2</ResourceId>
    <ResourceGroup>Eric_Europe</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shopassisst2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shopassisst2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>shopassisst2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$shopassisst2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShopAssist2.Common.Persistence.ShopAssist2Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ericweb.database.windows.net,1433;Initial Catalog=shopassisst2_db;User ID=ericnjuki@ericweb;Password=Consolata1" Name="Data Source=tcp:ericweb.database.windows.net,1433;Initial Catalog=shopassisst2_db;User Id=ericnjuki@ericweb;Password=Consolata1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShopAssist2.Common.Persistence.ShopAssist2Context, ShopAssist2.Common" MigrationConfiguration="ShopAssist2.Common.Migrations.Configuration, ShopAssist2.Common" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ShopAssist2ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ericweb.database.windows.net,1433;Initial Catalog=shopassisst2_db;User ID=ericnjuki@ericweb;Password=Consolata1" Name="Data Source=tcp:ericweb.database.windows.net,1433;Initial Catalog=shopassisst2_db;User Id=ericnjuki@ericweb;Password=Consolata1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=ShopAssist2;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ShopAssist2ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=ShopAssist2;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShopAssist2.Common.Persistence.ShopAssist2Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ericweb.database.windows.net,1433;Initial Catalog=shopassisst2_db;User Id=ericnjuki@ericweb;Password=Consolata1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ShopAssist2ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ericweb.database.windows.net,1433;Initial Catalog=shopassisst2_db;User Id=ericnjuki@ericweb;Password=Consolata1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ShopAssist2.Common.Persistence.ShopAssist2Context" />
  </ItemGroup>
</Project>